<h1>Listing feature_inclusions</h1>

<table>
  <tr>
    <th>Version</th>
    <th>Feature</th>
  </tr>

<% for feature_inclusion in @feature_inclusions %>
  <tr>
    <td><%= link_to_name feature_inclusion.version, 'maintainer' %></td>
    <td><%= link_to_name feature_inclusion.feature %></td>
    <td><%= link_to 'Show', feature_inclusion %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feature_inclusion', new_feature_inclusion_path %>
